@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-family: "Raleway", sans-serif;
}

body {
  max-width: 1400px;
}

.b {
  border: solid red 1px;
}

h1 {
  font-size: 20px;
  padding: 10px 0;
}

.padding_everywhere {
  padding: 3px;
}

h1,
h2,
h3,
h4,
p {
  background: none;
}
/********** Header **********/

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
}

li,
a {
  color: black;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 15px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0065fc;
}

.call_to_action {
  color: rgb(0, 101, 252, 1);
  cursor: pointer;
  font-weight: 900;
  transition: all 0.3s ease 0s;
}

.call_to_action:hover {
  color: rgb(0, 101, 252, 0.7);
}

/*
Sourlignage liens
*/

ul li a {
  position: relative;
}

li a::after,
li a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #0065fc;
  transition: 0.4s ease;
}

li a:hover:before,
li a:hover:after {
  width: 100%;
}

/********** Section Search **********/

.container_search {
  padding: 0 5%;
}

.logo_map {
  width: 20px;
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.border_logo_map {
  display: flex;
  width: 35px;
  padding: 10px;
  background-color: rgb(228, 228, 228);
  border-radius: 12px 0 0 12px;
}

.barre_search {
  display: flex;
  padding: 20px 0;
}

.button_search {
  cursor: pointer;
  border: none;
  border-radius: 0 12px 12px 0;
  padding: 0 20px;
  background-color: rgb(0, 101, 252, 1);
  color: white;
  font-weight: 700;
  outline-style: none;
  transition: all 0.3s ease 0s;
}

.button_search:hover {
  background-color: rgb(0, 101, 252, 0.8);
}

.input_search {
  border: solid 1px rgb(228, 228, 228);
  outline-style: none;
  padding: 0 10px;
  font-weight: 800;
}

/********** Section Filters **********/

.container_filters {
  padding: 0 5%;
}

.filters {
  display: flex;
  align-items: center;
}

.tags {
  display: flex;
  padding: 0 1%;
  align-items: center;
}

.tags_info {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.border_tags {
  position: absolute;
  background-color: #deebff;
  border-radius: 50px;
  padding: 10px;
  margin-right: 10px;
  z-index: 1;
  cursor: pointer;
}

.border_p {
  border: lightgrey solid 1px;
  border-radius: 50px;
  z-index: 0;
  padding: 14.5px 14.5px 14.5px 60px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s linear;
}

.border_p:hover {
  background-color: #deebff;
  color: #0065fc;
  border: #deebff solid 1px;
}

.border_tags_info {
  border: lightgrey solid 1px;
  border-radius: 50px;
  padding: 5px;
  margin-right: 15px;
}

/********** Section Content Forward **********/

.container_forward_populary {
  width: 100%;
  height: 630px;
  display: flex;
  justify-content: center;
}

.container_content_forward {
  width: 58%;
  height: 100%;
  background-color: rgb(233, 233, 233);
  border-radius: 12px;
  padding: 20px;
}

/*
Container des articles
*/

.container_content_forward_article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(233, 233, 233);
}

/*
Article
*/

.article_content_forward {
  border-radius: 12px;
  width: 200px;
  height: 175px;
  margin: 15px;
  padding: 3px;
  box-shadow: 5px 5px 5px #aaa;
  cursor: pointer;
  transition: 0.3s ease;
}

.article_content_forward:hover {
  transform: translate3d(3px, 3px, 0);
  box-shadow: 3px 3px 3px #aaa;
}

.logo_stars {
  width: 75px;
  background: none;
  position: relative;
  padding-left: 5px;
  bottom: 25px;
}

/* 
Images CSS
*/

.image_auberge_cannebiere,
.image_auberge_panier,
.image_hotel_amina,
.image_hotel_mer,
.image_hotel_mouettes,
.image_hotel_port {
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px 12px 0 0;
  background-position: center;
}

.image_auberge_cannebiere {
  background-image: url("/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.image_hotel_port {
  background-image: url("/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.image_hotel_mouettes {
  background-image: url("/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.image_hotel_mer {
  background-image: url("/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.image_auberge_panier {
  background-image: url("/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.image_hotel_amina {
  background-image: url("/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

/********** Section Content Populary **********/

.container_content_populary {
  width: 30%;
  height: 100%;
  padding: 20px;
  background-color: rgb(233, 233, 233);
  border-radius: 12px;
}

.container_content_populary_article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233, 233, 233);
}

/*
Titre populary
*/

.container_content_populary_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
}

.title_h1_section,
#logo_article_populary {
  margin: 15px 0 0 10px;
}

#logo_article_populary {
  width: 20px;
  background-color: rgb(233, 233, 233);
  padding: 10px 0;
  margin-right: 15px;
}

/*
Articles populary
*/

.article_content_populary {
  display: flex;
  border-radius: 12px;
  width: 95%;
  height: 150px;
  margin: 15px 0;
  padding: 3px;
  box-shadow: 5px 5px 5px #aaa;
  cursor: pointer;
  transition: 0.3s ease;
}

.article_content_populary:hover {
  transform: translate3d(3px, 3px, 0);
  box-shadow: 3px 3px 3px #aaa;
}

.image_hotel_soleil,
.image_coeur_eau,
.image_hotel_bleublanc {
  width: 40%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px 0 0 12px;
  background-position: center;
}

.image_hotel_soleil {
  background-image: url("/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.image_coeur_eau {
  background-image: url("/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.image_hotel_bleublanc {
  background-image: url("/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

/*
Texte
*/

.article_content_populary_texte {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 15px;
}

.logo_stars_populary {
  width: 75px;
  background: none;
  position: relative;
}

.margin_top_bot_10px {
  margin-top: 5px;
  margin-bottom: 5px;
}

/********** Section Activities **********/

.container_content_activities {
  padding: 0 5%;
}

.container_all_activities {
  width: 100%;
  height: 500px;
  display: flex;
}

.container_one_activities {
  width: 100%;
  height: 500px;
  display: flex;
  background: none;
}

.container_second_activities {
  width: 100%;
  height: 500px;
  display: flex;
  background: none;
}

/*
Activities
*/

.container_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
}

.container_item_big,
.container_item_little {
  width: 93%;
  border-radius: 12px;
  box-shadow: 5px 5px 5px #aaa;
  transition: 0.3s ease;
  background: none;
}

.container_item_big:hover,
.container_item_little:hover {
  transform: translate3d(3px, 3px, 0);
  box-shadow: 3px 3px 3px #aaa;
}

.margin_activities_left {
  margin-left: 20px;
}

.item1 {
  background-image: url(/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

.item2 {
  background-image: url(/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.item3 {
  background-image: url(/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

.item4 {
  background-image: url(/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.item5 {
  background-image: url(/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.item6 {
  background-image: url(/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

.item1,
.item4 {
  height: 445px;
}

.item2,
.item3,
.item5,
.item6 {
  height: 180px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px 12px 0 0;
  background-position: center;
}

.titre_h4_padding {
  padding: 18px;
}
